#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.svg {
  cursor: pointer;
  transition: filter 300ms;
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    filter: drop-shadow(0 0 2em #beca0eaa);
  }
}
